<h1>Actors</h1>
<div class='container'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @actors.each do |actor| %>
        <tr>
          <td><%= actor.name %></td>
          <td>
            <%= link_to '', actor, class: 'glyphicon glyphicon-eye-open' %>
            <%= link_to '', edit_actor_path(actor), class: 'glyphicon glyphicon-pencil' %>
            <%= link_to '', actor, class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New Actor', new_actor_path, class: 'btn btn-default' %>
</br><%= paginate @actors %>
