<%= nested_form_for @movie do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= f.label :title%><br>
    <%= f.text_field :title%>
  </div>

  <div class="field">
    <%= f.label :plot %><br>
   <%= f.cktext_area :plot, :width => 100 %>
  </div>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>

  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>

  <div>
    </br><%= f.check_box :featured %>
    <%= f.label :featured %><br>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <%= f.fields_for :posters do |p| %>
    <%= p.label :image %>
    <%= p.file_field :file %>
    <%= p.link_to_remove "Remove Poster" %>
  <%end %>
  </br>
  <p><%= f.link_to_add "Add Poster", :posters, class: 'btn btn-primary' %></p>

  <%= f.fields_for :actors do |a| %>
    <%= select_tag "actors", options_from_collection_for_select(Actor.all, "id", "name"), prompt: :Actor %>
    <%= a.link_to_remove "Remove Actor" %>
  <%end %>
  </br>
  <p><%= f.link_to_add "Add Actor", :actors, class: 'btn btn-primary' %></p>
  </br>

  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<%end%>
