<% if current_user.admin? %>
   <h1>Posts</h1>
  <div class='container'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th colspan='2'></th>
        </tr>
      </thead>

      <tbody>
        <% @allmovies.each do |movie| %>
          <tr>
            <td>
            <% if movie.User_id %>
            <%= User.find(movie.User_id).email %>
            <% end %>
            </td>

            <td>
            <% if movie.User_id %>
            <%= Movie.where(User_id: movie.User_id).count %>
            <% end %>
            </td>

            <td>
              <%= link_to '', movie, class: 'glyphicon glyphicon-eye-open' %>
              <!-- <%= link_to '', edit_movie_path(movie), class: 'glyphicon glyphicon-pencil' %> -->
              <%= link_to '', movie, class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Post', new_movie_path, class: "btn btn-default" %>
  </div>
  <br>
<% else %>
  <%= link_to 'New Post', new_movie_path, class: "btn btn-default" %>

  <div class="panel-body">
    <% @movies.each do |movie| %>
      <div class="post">
        <div class="header">
          <span class="prf-pic">
            <% if movie.User_id%>
            <img src="<%=User.find(movie.User_id).avatar%>">
            <%end%>
          </span>
          <span class="account-name"><%= link_to User.find(movie.User_id).name, users_profile_path(user_id: movie.User_id)%></span>
          <span class="timestamp">
            <%= movie.created_at%>
          </span>
        </div>
        <div style="width: 450px; margin:auto" class="owl-carousel owl-theme">
          <% movie.posters.each do |p| %>
          <div class="img-thumbnail">
            <a href="<%= movie_path(movie) %>"><%= image_tag p.file("medium"), class: 'feed-img' %></a>
          </div>
          <% end %>
        </div>
        <div style="padding:15px" class="   header">
          <%= raw movie.plot %>
        </div>
      </div><br><br>
    <% end %>
  </div>
<%= paginate @movies %>
<% end %>

<script type="text/javascript">
 $('.owl-carousel').owlCarousel({
  margin:10,
  loop:true,
  autoWidth:true,
  items:1
});
</script>

