<div class="post">

  <div class="header">
    <span class="prf-pic">
      <% if @movie.User_id%>
      <img src="<%=User.find(@movie.User_id).avatar%>">
      <%end%>
    </span>
    <% if @movie.User_id %>
      <span class="account-name"><%= link_to User.find(@movie.User_id).name, users_profile_path(user_id: @movie.User_id) %></span>
    <% end %>
    <span class="timestamp">
      <%= @movie.created_at%>
    </span>
  </div>
  <div style="width: 450px; margin:auto" class="owl-carousel owl-theme">
    <% @movie.posters.each do |p| %>
    <div class="img-thumbnail">
      <%= image_tag p.file("medium"), class: 'feed-img' %>
    </div>
    <% end %>
  </div>
  <div style="padding:15px" class="   header">
    <%= raw @movie.plot %>
  </div>
  <div class="img-footer">
    <div class="comments">
      <div class="comments-content"></div>
      <div class="comments-field">
        <span class="heart-pic">

          <% if user_signed_in? %>
            <% if current_user.id == @movie.User_id %>
              <%= link_to 'Edit', edit_movie_path, class: "btn btn-primary" %>
              <%= link_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure?' },
              class: "btn btn-primary" %>
            <% end %>
            <%= link_to "Like", movies_favoritize_path(curr_movie_id: @movie.id), class: "btn btn-danger", method: :post %>
            <%= link_to "Comment", new_movie_review_path(@movie), remote: true, id: "add_review",  class: "btn btn-danger" %>

          <% end %>
        </div>
      </div>
    </div>

  </div>



</div>




      <div style="width:600px;margin:auto;" id = "reviews_style">
        <div  id="reviews">
          <p>
          </br><%= render @reviews %>
        </p>
      </div>


<!--
<% if cannot? :manage, @movie %>
<p>
  <%= rating_for @movie, 'rating' %>
</p>
<% end %>

 -->

<script type="text/javascript">
 $('.owl-carousel').owlCarousel({
  margin:10,
  loop:true,
  autoWidth:true,
  items:1
});
</script>
