<p id="notice"><%= notice %></p>
<p>
<div class="col-sm-6 col-md-3">
<%@movie.posters.each do |p|%>
    <div class="thumbnail">
        <%=image_tag p.file("medium")%>
    </div>

<%end%>
  <h4><%= @movie.title %></h4>
</p>
<p>
  <strong>Official Trailer:</strong>
  <div style="margin-left: 50%">
    <iframe width="560" height="349" src=<%= "http://www.youtube.com/embed/#{@movie.code}" %>></iframe>
  </div>
</p>

</div>
<b>Cast: </b>
<% @movie.actors.each do |a| %>
  <%=a.name%>
<%end%>

<p>
  <strong>Plot:</strong>
  <%= raw @movie.plot %>
</p>
<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Time:</strong>
  <%= @movie.time %>
</p>

<p>
  <%= rating_for @movie, 'rating' %>
</p>
<% @movie.reviews do |r| %>
  <ul class="media-list">
    <li class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= image_tag current_user.avatar("thumb") %>" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= current_user.email %></h4>
        <%= r.text_field :content %>
      </div>
    </li>
  </ul>
<% end %>
<% if can? :manage , @movie %>
  <%= link_to 'Edit', edit_movie_path, class: "btn btn-primary" %>
  <%= link_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure?' },
  class: "btn btn-primary" %>
<% end %>
