<div class="container target">
  <div class="row">
      <div class="col-sm-10">
        <h1 class=""><%= @user.email %></h1>
        <br>
      </div>
    <div class="col-sm-2"><a href="#"><img title="profile image" class="img-circle img-responsive" src="<%= @user.avatar("thumb") %>"></a></div>
  </div>
  <br>
</div>
<br>

<div class="col-sm-3" style="margin-top: 8.5%">
  <ul class="list-group">
    <li class="list-group-item text-muted" contenteditable="false">Profile</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= time_ago_in_words(@user.created_at) %>-ago</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Real name</strong></span> Josep Doe</li>
  </ul>
  <div class="panel panel-info">
    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>
  </div>
</div>

<div class="panel panel-info target" class="col-md-2">
  <% if !@user.admin %>
   <div class="panel-heading" contenteditable="false"><h2>Favorite Movies</h2></div>
  <% end %>
  <div class="panel-body">
    <div class="row">
      <div class="panel-body">
        <% @user.favorites.each do |favorite| %>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <a class="close" href="#">×</a>
              <a href="<%= movie_path(favorite.movie) %>"> <%= image_tag favorite.movie.posters.first.file("medium") %> </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
