<div>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= review.user.email %></strong> <span class="text-muted"><%= time_ago_in_words(review.created_at) %></span>
        <% if can? :edit, review %>
          <span class="pull-right">
            <%= link_to "", edit_movie_review_path(@movie, review), class: "glyphicon glyphicon-pencil" %>
            <%= link_to '', [@movie,review], class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        <% end %>
      </div>
      <div class="panel-body">
        <%= review.content %></br>
      </br><%= link_to "Report", reports_path %>
      </div>
    </div>
  </div>
</div>
