<div class="container">
  <h2>Reported Reviews</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Review</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.review.movie.title %></td>
          <td><%= report.review.content %></td>
          <td><%= report.review.user.email %></td>
          <td>
            <%= link_to 'Delete', [report.review.movie, report.review], remote: true, method: :delete,
            data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Discard', report, method: :delete,
            data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @reviews %>
