<div class="container">
  <h2>Movie Reviews</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Review</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.review.movie.title %></td>
          <td><%= report.review.content %></td>
          <td><%= report.review.user.email %></td>
          <td><%= link_to 'Destroy', [report.review.movie, report.review]  , method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @reviews %>
