<div class='container'>
  <h2>Reported Reviews</h2>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Movie</th>
        <th>Review</th>
        <th>Reviewer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.review.movie.title %></td>
          <td id='read-more-<%= report.review.id %>' class="wrap-review">
            <% if report.review.content.length > 50 %>
              <%= truncate(report.review.content, length: 30) %>
              <%= link_to '...Read more', '', class: "read-more-#{report.review.id}" %>
                <script>
                  $('.read-more-<%= report.review.id %>').on('click', function(e) {
                    e.preventDefault()
                    $(this).parent().html('<%= escape_javascript report.review.content %>')
                  })
                </script>
            <% else %>
              <p> <%= report.review.content %> </p>
            <% end %>
          </td>
          <td><%= report.review.user.email %></td>
          <td>
            <%= link_to '', [report.review.movie, report.review], class: 'glyphicon glyphicon-trash', method: :delete,
            data: { confirm: 'Are you sure?' } %>
            <%= link_to '', report, method: :delete, class: 'glyphicon glyphicon-remove',
            data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @reports %>
