<html>
  <head>
    <title>PopcornTime</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class='<%= body_class_helper %>'>
    <%= render 'shared/navigation_bar' %>
    <div class='container'>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'ratyrate', 'data-turbolinks-track' => true %>
</html>
