<!DOCTYPE html>
<html>
  <head>
    <title>PopcornTime</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'shared/navigation_bar' %>

    <div class='container'>
      <div id="messages" class="">
        <% flash.each_with_index do |(k,v),i| %>
          <% next if k.to_s == 'timedout' %>
          <div id="message-<%= i %>" class="actual-message">
            <div class="alert <%= bootstrap_class_for(k.to_s.sub('_stay', '')) %>">
              <% if v.is_a?(Array) %>
                <ul>
                  <% v.each do |vv| %>
                    <li><%= vv %></li>
                  <% end %>
                </ul>
              <% else %>
                <%= raw v %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'ratyrate', 'data-turbolinks-track' => true %>
</html>
